extends layout

block content
  h1 TRADE IT!
  
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner " role="listbox">
        //- <div class="item active">
        //-   <img src="stylesheets/banner.png" alt="oldcar">
        //-   <div class="carousel-caption">
        //-     <h2>Porsche 356</h2>
        //-     <p>our<br>
        //-       sed cars </p>
        //-   </div>
        //- </div>
        //- <div class="item">
        //-   <img src="stylesheets/porche.jpg" alt="porche">
        //-   <div class="carousel-caption">
        //-     <h2>Porche</h2>
        //-       <p>OUR  CARS </p>
        //-   </div>
        //- </div>
        //- <div class="item">
        //-   <img src="stylesheets/benz.jpg" alt="benz">
        //-   <div class="carousel-caption">
        //-     <h2>Car</h2>
        //-     <p>our,<br>
        //-       sed cars </p>
        //-   </div>
        </div>
      </div>
     
