doctype html
html
  head
    title= title
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slider.css">
    
    
    
	  

    <!-- JS, Popper.js, and jQuery -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/stylesheets/jquery.js"></script>
    <script type="text/javascript" src="/stylesheets/isotope.js"></script>
    <script type="text/javascript" src="/stylesheets/myscript.js"></script> 
    <script type="text/javascript" src="/stylesheets/jquery.1.11.js"></script>
    <script type="text/javascript" src="/stylesheets/bootstrap.js"></script>  
    
	  
    
  body
      <div class="allcontain">
      <div class="header">
          <ul class="socialicon">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
          <ul class="givusacall">
            <li>Email at : Tradeit@gmail.com </li>
          </ul>
          <ul class="logreg">
          if !user
            <li><a href="/login">Login </a> </li>
            <li><a href="/register"><span class="register">Register</span></a></li>
          if user
            <li><a href="/logout">Logout</a> </li>
            li(class="active")=user.name
          
          </ul>
      </div>
      <!-- Navbar Up -->
      <nav class="topnavbar navbar-default topnav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
              <span class="sr-only"> Toggle navigaion</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
          </div>
          <br>
           <div>
      
        
           <img src="stylesheets/olx-logo.png" width="68px" height="48px" alt="olx-logo" />
            <input type="text" name="search" placeholder="Karachi Pakistan" id="location" />
            <input type="text" name="search" placeholder="Find Cars, Mobile Phones and more.." id="searchbox" />
            //- <button id="search-btn"></button>
           
           
            
              
            
      </div>	
      
       
        <div class="collapse navbar-collapse" id="upmenu">
          <ul class="nav navbar-nav" id="navbarontop">
          
            <li class="active"><a href="/">HOME</a> </li>
            
            <li class="active"><a href="/list2">OUR Products</a> </li>
             <li class="active"><a href="/cart">CART</a> </li>
            
            <li class="active">
              <a href="/contact">CONTACT</a>
    
            </li>
           
            <button><span class="postnewcar"><a href="/products/add">POST NEW Product</a></span></button>
            if user
              <li class="active"><a href="/products">Database</a> </li>
              
          </ul>
        </div>
      </nav>
      </div>
      <div>
          <center> <img src="stylesheets/olx bar.jpg" alt="trade it" className="cover" height="450" width="1400"/></center>
      </div>
    
    
      .container
        include ./partials/navbar
        block content


        
      
      
      <div class="bottommenu">
        //-  <div class="bottomlogo">
        //-  <span class="dotlogo">&bullet;</span><img src="/stylesheets/collectionlogo1.png" alt="logo1"><span class="dotlogo">&bullet;;</span>
        //- </div>
       
        <p>"BEST Products IN TOWN <br>
          eiusmod SHOP NOW!! </p>
        <img src="/stylesheets/line.png" alt="line"> <br>
        <div class="bottomsocial">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
          <div class="footer">
            <div class="copyright">
              |copy right 2020 | <a href="#">Privacy </a>| <a href="#">Policy</a>
            </div>
            <div class="atisda">
              |Designed by <a href="/">MOIZ BUKHARI Faraz Irfan Ahmad khalid </a> 
            </div>
          </div>
        </div>
      </div>  
