extends ../layout

block content
    h1 ADD PATIENT DETAILS
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Unique Reference Number
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="description") FIRST NAME
            input#name(type="text", class="form-control", name="description")
        .form-group
            label(for="price") LAST NAME
            input#price(type="text", class="form-control", name="price")

        .form-group
            label(for="status") COVID STATUS
            input#status(type="text", class="form-control", name="status")    
        .form-group
            label(for="Date") COVID STATUS
            input#Date(type="date", class="form-control", name="Date")       

            .form-group
                label(for="category") Partner Name
                <select class="form-control"  name="category" type="text" style={{ margin: "auto", width: "50%", height: "50px", fontSize: "18px" }}>
                <option value="partner 1" style={select}>partner 1</option>
                <option value="partner 2" style={select}>partner 2</option>
                <option value="partner 3" style={select}>partner3</option>
                <option value="partner 4" style={select}>partner 4</option>
                <option value="partner 5" style={select}>partner 5</option>
                <option value="partner 6" style={select}>partner 6</option>
                <option value="partner 7" style={select}>partner 7</option>
                </select>

            //- .form-group
            //-     label(for="condition") Choose Condition
            //-     <select class="form-control"  name="condition" type="text" style={{ margin: "auto", width: "50%", height: "50px", fontSize: "18px" }}>
            //-     <option value="Used" style={select}>Used</option>
            //-     <option value="New" style={select}>New</option>
               
            //-     </select>
            
        
         
        
        //- input#fileUpload(type="file", required, name="file")
        
                   
        input(type="submit", class="btn btn-info")
